.products {
    display: flex;
    flex-direction: column;
    margin: 0 10%;

    .product_img {
        height: 250px;
        width: 250px;
        overflow: hidden;
        border-radius: 10px;

        img {
            height: 250px;
            width: 250px;
            object-fit: cover;
        }
    }

    .product_txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;

        p {
            text-align: center;

            &:first-of-type {
                font-size: 22px;
                letter-spacing: 1px;
                font-weight: 600;
                padding-top: 10px;
            }

            &:last-of-type {
                padding-top: 20px;
            }
        }
    }
}