@import "../../styles/settings.scss";

.section_5 {
    background-color: $color-background;
    padding: 100px 0 80px;

    .react-multi-carousel-list {
        .react-multiple-carousel__arrow--right {
            right: calc(2% + 1px);
        }

        .react-multiple-carousel__arrow--left {
            left: calc(2% + 1px);
        }

        .react-multi-carousel-item {
            img {
                display: block;
                margin: auto;
                height: auto;
                width: 70%;
                border-radius: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .section_5 {
        padding: 150px 0;

        .react-multiple-carousel__arrow--right {
            right: calc(5% + 1px);
        }

        .react-multiple-carousel__arrow--left {
            left: calc(5% + 1px);
        }
    }
}
