@import "../../styles/settings.scss";

.carousel_item {
  margin: 150px 0 100px;

  .react-multi-carousel-list  {
    padding-bottom: 40px;
  }

  img {
    display: block;
    margin: auto;
    height: auto;
    width: 70%;

    &:hover {
      transform: none;
    }
  }
}