@import "../../styles/settings.scss";

.react-multi-carousel-list {
    padding-bottom: 40px;
    margin: 150px 0 80px;

    .react-multi-carousel-item {
        img {
            display: block;
            margin: auto;
            height: auto;
            width: 70%;
            border-radius: 20px;
        }
    }
}
