@import "../../styles/settings.scss";

.section_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $color-background;
    padding: 5% 15% 10%;

    .section_products {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 8%;
    }
}
