@import "../../styles/settings.scss";

.section_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $color-background;
    padding: 10% 15% 5%;

    .section_products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 8%;
    }
}

@media only screen and (min-width: 1024px) {
    .section_3 {
        padding: 5% 15% 10%;

        .section_products {
            flex-direction: row;
        }
    }
}
