@import "./settings.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: $color-light;
  font-size: ($base-size * 1.1);
  color: $color-dark;
  letter-spacing: 0.5px;

  main {
    width: 100%;
    margin: 0 auto;
  }

  p,
  h2 {
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
}
