@import "./settings.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $color-light;
  font-size: ($base-size * 1.1);
  color: $color-dark;
  letter-spacing: 0.5px;

  p,
  h2 {
    margin: 0;
  }

  img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    &:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}
