@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Homemade+Apple&family=Peddana&family=Stoke:wght@300;400&display=swap");

$color-light: #fff;
$color-dark: #3d3d3d;
$color-main: #930047;
$color-background: #f7f7f7;
$color-footer: #e8ebea;
$color-transparent: hsla(0, 0%, 100%, 0.3);
$color-hover-light: rgba(255, 255, 255, 0.5);
$color-hover-dark: rgba(255, 255, 255, 0.2);

$font-main: "Peddana", serif;
$font-title: "Stoke", serif;
$font-header: "Charm", cursive;
$font-cursive: "Homemade Apple", cursive;

$base-size: 12px;
