.section_2 {
    padding: 15% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .section_element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .el_quote {
            display: none;
        }

        &:first-of-type {
            width: 250px;
            overflow: hidden;
            border-radius: 20px;
            margin-bottom: 24px;
            align-self: center;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .section_2 {
        padding: 10% 15%;
        flex-direction: row;

        .section_element {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;

            .el_quote {
                display: block;
            }

            &:first-of-type {
                width: 300px;
                margin-right: 10%;
            }
        }
    }
}
