.section_6 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 10% 0 5%;

    .section_element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 5% 10%;

        &:first-of-type {
            overflow: hidden;
            border-radius: 10px;

            img {
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .section_6 {
        flex-direction: row;
        margin: 5%;

        .section_element {
            width: 50%;
            text-align: left;
            margin: 5%;

            &:first-of-type {
                width: 50%;
            }
        }
    }
}
