.section_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section_element {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        width: 100%;

        &:hover {
            transform: none;
        }
    }

    &:last-of-type {
        padding: 5%;
    }
}