@import "../../styles/settings.scss";

.section_header {
    background-image: url(../../img/wedding_flowers.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;

    h2 {
        font-size: 60px;
        font-weight: 400;
        padding: 20% 10% 0 0;
        font-family: $font-header;
        line-height: 1.5;
        letter-spacing: 2px;
        opacity: 0.85;

        span {
            color: $color-main;
            font-family: $font-cursive;
        }
    }
}
