.section_intro {
    padding: 10% 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .section_element {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:first-child {
            width: 300px;
            margin-right: 10%;
            overflow: hidden;
            border-radius: 20px;
        }
    }
}
