@import "../../styles/settings.scss";

.section_4 {
    background-image: url(../../img/gallery.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    display: flex;
    align-items: center;

    .gallery_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-transparent;
        width: 100%;
        padding: 20px 0 30px;

        p {
            font-family: $font-main;
            font-size: 32px;
            line-height: 1;
            font-weight: 500;
            padding-bottom: 15px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .section_4 {
        height: 1300px;

        .gallery_text {
            p {
                font-size: 48px;
                line-height: 1.5;
                padding-bottom: 30px;
            }
        }
    }
}
